body {
  background-color: #000;
  margin: 0;
}

.box {
  border: 1px solid #e95d49;
  padding: 10px;
}

.box__blue {
  width: 328px;
  background-color: #308dc0;
  margin: 20px 0 40px 20px;
}

.box__orange {
  background-color: #ffa500;
}

.box__gainsboro {
  background-color: #ddd;
}

.box__text {
  margin: 0;
}
